<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
    <link href="../assets/css/insertathletestyle.css" rel="stylesheet">
    <script src="../assets/js/jquery-1.8.3.min.js"></script>
    
  
</head>
<body>


<div id="loginalert" style="display:block;top:20px;left:32%;"margin-left:0px;"_margin-left:20px;">
	
	<div class="pd20 loginpd">
		<div class="loginwrap">
			<h3><span class="fl">请填写</span><span class="login_warning">赛程相关信息</span><div class="clear"></div></h3>
			<form action="/insertschedule" method="post" id="login_form">
				<div class="logininput">
					<ul>
					    <li>项目编号:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="projectid" class="athl_sex" value="" placeholder="项目编号" /></li>
						<li>项目名:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="projectname" class="athl_sex" value="" placeholder="项目名" /></li>
						<li>比赛时间:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="projecttime" class="athl_age" value="" placeholder="比赛时间" /></li>
						<li>比赛场地:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="gameplace" class="athl_height" value="" placeholder="比赛地点" /></li>
						<li>裁判编号:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="judgeid" class="athl_height" value="" placeholder="裁判编号" /></li>
					</ul>
				</div>
				<div class="loginbtn">
					<div class="loginsubmit fl"><input type="submit" value="提交" class="btn" /></div>
					<div class="clear"></div>
				</div>
			</form>
		</div>
	</div>

	
</div>




</body>
</html>