<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../assets/css/datatables.css" rel="stylesheet">
    <link href="../assets/css/datatablestyle.css" rel="stylesheet">
    <script src="../assets/js/jquery-1.8.3.min.js"></script>
    <script src="../assets/js/jquery.dataTables.min.js"></script>
    <link href="../assets/css/insertathletestyle.css" rel="stylesheet">
    <script src="../assets/js/jquery.easing.min.js"></script>
    <style>
    .tableMain {
        margin: 50px;
    }
    
    input[type="checkbox"] {
        opacity: 0;
    }
    
    input[type="checkbox"] + span:before {
        content: "";
        width: 18px;
        height: 18px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        margin-left: 20px;
        background: white;
        border-radius: 3px;
        border: 1px solid #c8c8c8;
    }
    
    input[type="checkbox"]:checked + span:before {
        background: #007aff url("../assets/img/checkmark.png") no-repeat center center;
        border-color: #007aff;
    }
    
    .icon {
        color: #007aff;
    }
    
    .icon:hover {
        color: #000000;
    }
    
    #ls {
        width: 130px;
        height: 40px;
        margin: 15px 20px 0 0;
        display: inline;
    }
    
    #tijiao {
        width: 130px;
        height: 40px;
        line-height: 40px;
        overflow: hidden;
        color: #fff;
        background: #70CA10;
        display: block;
        text-align: center;
        font-size: 20px;
        border: none;
        font-family: '微软雅黑';
        cursor: pointer;
    }
    
    button {
        background-color: #AEDEF4;
        width: 100px;
        height: 40px;
        color: white;
        border: none;
        box-shadow: none;
        font-size: 12px;
        font-weight: 30;
        border-radius: 3px;
        padding: 10px 25px;
        margin: 26px 5px 0 5px;
        cursor: pointer;
    }
    
    button:focus {
        outline: none;
    }
    
    button:hover {
        background-color: #a1d9f2;
    }
    
    button:active {
        background-color: #81ccee;
    }
    </style>
    <script type="text/javascript">
    $(function() {

        $("#dataTable1").dataTable({
            "sPaginationType": "full_numbers",
            bAutoWidth: true,
            aoColumnDefs: [{
                bSortable: false,
                aTargets: [0, -1]
            }]
        });

        $('.table').each(function() {
            return $(".table #checkAll").click(function() {
                if ($(".table #checkAll").is(":checked")) {
                    return $(".table input[type=checkbox]").each(function() {
                        return $(this).prop("checked", true);
                    });
                } else {
                    return $(".table input[type=checkbox]").each(function() {
                        return $(this).prop("checked", false);
                    });
                }
            });
        });

        var k = !0;

        $(".loginmask").css("opacity", 0.8);

        if ($.browser.version <= 6) {
            $('#reg_setp,.loginmask').height($(document).height());
        }

        $(".thirdlogin ul li:odd").css({
            marginRight: 0
        });

        $(".openlogin").click(function() {
            k && "0px" != $("#loginalert").css("top") && ($("#loginalert").show(), $(".loginmask").fadeIn(500), $("#loginalert").animate({
                top: 0
            }, 400, "easeOutQuart"))
        });

        $(".loginmask,.closealert").click(function() {
            k && (k = !1, $("#loginalert").animate({
                top: -600
            }, 400, "easeOutQuart", function() {
                $("#loginalert").hide();
                k = !0
            }), $(".loginmask").fadeOut(500))
        });


        $("#sigup_now,.reg a").click(function() {
            $("#reg_setp,#setp_quicklogin").show();
            $("#reg_setp").animate({
                left: 0
            }, 500, "easeOutQuart")
        });

        $(".back_setp").click(function() {
            "block" == $("#setp_quicklogin").css("display") && $("#reg_setp").animate({
                left: "100%"
            }, 500, "easeOutQuart", function() {
                $("#reg_setp,#setp_quicklogin").hide()
            })
        });

        $(".delete").click(function() {
            var flag = confirm("确定要删除该运动员信息?");

            if (flag) {


                return true;
            }

            return false;

        });

        $(".edit", this).click(function() {

            var athlid = $(this).parents("tr").find(".athlid").text();
            var athlname = $(this).parents("tr").find(".athlname").text();
            var athlsex = $(this).parents("tr").find(".athlsex").text();
            var athlage = $(this).parents("tr").find(".athlage").text();
            var athlheight = $(this).parents("tr").find(".athlheight").text();
            var athlweight = $(this).parents("tr").find(".athlweight").text();
            var athlphone = $(this).parents("tr").find(".athlphone").text();
            var athlpro = $(this).parents("tr").find(".athlpro").text();

            $(".athl_id").val($.trim(athlid));
            $(".athl_name").val($.trim(athlname));
            $(".athl_sex").val($.trim(athlsex));
            $(".athl_age").val($.trim(athlage));
            $(".athl_height").val($.trim(athlheight));
            $(".athl_weight").val($.trim(athlweight));
            $(".athl_phone").val($.trim(athlphone));
            $(".athl_pro").val($.trim(athlpro));

            k && "0px" != $("#loginalert").css("top") && ($("#loginalert").show(), $(".loginmask").fadeIn(500), $("#loginalert").animate({
                top: 0
            }, 400, "easeOutQuart"))

        });
    });
    </script>
</head>

<body>
    <div class="tableMain">
        <button class="batchDelete">批量删除</button>
        <button class="openlogin">新增</button>
        <table class="table table-bordered table-striped" id="dataTable1">
            <thead>
                <th class="check-header">
                    <label>
                        <input id="checkAll" name="checkAll" type="checkbox"><span></span></label>
                </th>
                <th>
                    运动员编号
                </th>
                <th>
                    姓名
                </th>
                <th class="">
                    性别
                </th>
                <th class="">
                    年龄
                </th>
                <th class="">
                    身高
                </th>
                <th class="">
                    体重
                </th>
                <th class="">
                    电话
                </th>
                <th class="">
                    参赛项目
                </th>
                <th>
                    操作
                </th>
            </thead>
            <tbody>
                <% var i=0 ; for(item in athletes){ %>
                    <tr class="${item.id!}">
                        <td class="check " style="">
                            <label>
                                <input name="" type="checkbox" value=""><span></span></label>
                        </td>
                        <td style="" class="athlid">
                            ${item.id!}
                        </td>
                        <td style="text-align:center;" class="athlname">
                            ${item.name!}
                        </td>
                        <td style="text-align:center;" class="athlsex">
                            ${item.sex!}
                        </td>
                        <td style="text-align:center;" class="athlage">
                            ${item.age!}
                        </td>
                        <td class="athlheight" style="">
                            ${item.height!}
                        </td>
                        <td class="athlweight" style="text-align:center;">
                            ${item.weight!}
                        </td>
                        <td class="athlphone" style="text-align:center;">
                            ${item.phone!}
                        </td>
                        <td class="athlpro" style="text-align:center;">
                            ${projects[i].name}
                        </td>
                        <td class="actions" style="">
                            <div class="action-buttons">
                                <a class="table-actions lookdetail" href=""><i class="icon fa fa-eye"></i></a>
                                <a class="table-actions edit" href="javascript:void(0);"><i class="icon fa fa-edit"></i></a>
                                <a class="table-actions delete" href="/deleteAthlete?id=${unitid!}&athid=${item.id!}&proid=${athleteProjects[i].id}"><i class="icon fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    <% i++; } %>
            </tbody>
        </table>
    </div>
    <div class="loginmask"></div>
    <div id="loginalert">
        <div class="pd20 loginpd">
            <h3><i class="closealert fr"></i><div class="clear"></div></h3>
            <div class="loginwrap">
                <h3><span class="fl">请填写</span><span class="login_warning">运动员相关信息</span><div class="clear"></div></h3>
                <form action="/insertAthlete?id=${unitid!}" method="post" id="login_form">
                    <div class="logininput">
                        <ul>
                            <li>编号:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="text" name="athlid" class="athl_id" value="" placeholder="运动员编号" />
                            </li>
                            <li>姓名:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="text" name="athlname" class="athl_name" value="" placeholder="姓名" />
                            </li>
                            <li>性别:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="text" name="athlsex" class="athl_sex" value="" placeholder="性别" />
                            </li>
                            <li>年龄:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="text" name="athlage" class="athl_age" value="" placeholder="年龄" />
                            </li>
                            <li>身高:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="text" name="athlheight" class="athl_height" value="" placeholder="身高" />
                            </li>
                            <li>体重:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="text" name="athlweight" class="athl_weight" value="" placeholder="体重" />
                            </li>
                            <li>电话:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="text" name="athlphone" class="athl_phone" value="" placeholder="电话" />
                            </li>
                            <li>参赛项目:
                                <input type="text" name="athlproname" class="athl_pro" value="" placeholder="参赛项目" />
                            </li>
                        </ul>
                    </div>
                    <div class="loginbtn">
                        <div class="loginsubmit fl">
                            <input type="submit" value="提交" id="tijiao" />
                        </div>
                        <div class="clear"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
